{% extends "layout.twig" %}

{% block content %}
    <div id="resume-header" class="row">
        <div class="col-3">
            <img id="profile-picture" src="juancito.png" alt="">
        </div>
        <div class="col contDatosPersonales">

            {% for usuarioActivo in user %}

                <h1>{{ usuarioActivo.firstName }} {{ usuarioActivo.lastName }}</h1>
                <h2>Programador Web</h2>
                <ul class="datosPersonales">
                    <li><i class="ri-mail-line ri-lg"></i> {{ usuarioActivo.email }}</li>
                    <li><i class="ri-phone-line ri-lg"></i></i> {{ usuarioActivo.phoneCell }}</li>
                </ul>
                <div class="contenedorRedes">

                    {% for net in nets %}

                        <a href="{{ net.url }}" ><i class="{{ net.name }} ri-2x"></i></a>

                    {% endfor %}

                </div>


            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2 class="border-bottom-gray" >Resumen de la carrera</h2>
            {% for usuarioActivo in user %}
                <p>
                    {{ usuarioActivo.resumen }}
                </p>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div>
                <h3 class="border-bottom-gray" >Experiencia Laboral</h3>


                    {% for experiencia in experiencias %}
                        <div class="contenedor_experiencias">
                            <div>
                                <img class="logo_empresa" src="uploads/{{ experiencia.logoEmpresa }}" alt="">
                            </div>

                            <div class="textos">
                                <h5>{{ experiencia.puesto }} | {{ experiencia.empresa }}</h5>
                                <p>{{ experiencia.resumen }}</p>
                            </div>

                        </div>

                    {% endfor %}

            </div>
            <div>
                <h3 class="border-bottom-gray">Proyectos</h3>
                <ul>
                    {% for project in projects %}

                        <li>
                            <h5>{{ project.title }}</h5>
                            <p>{{ project.description }}</p>
                            <a href="{{ project.url }}">{{ project.url }}</a>
                        </li>

                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-3">
            <h3 class="border-bottom-gray" >Habilidades y Herramientas</h3>


            {% for categoria in categorias %}

                <h4>{{ categoria.nombre }}</h4>

                <ul>
                    {% for skilltool in skillstools %}

                        {% if skilltool.idCategoria == categoria.id  %}

                            <li>{{ skilltool.nombre }}</li>

                        {% endif %}

                    {% endfor %}
                </ul>

            {% endfor %}

        </div>

    </div>

    <div class="col">
        Designed by @Juan_APintos
    </div>

{% endblock %}
